@size: 20px;


.emoji, .categories>li .content img.emoji {
  display: inline-block;
  position: relative;
  max-height: 1048px;
  max-width: 1048px;
  cursor: pointer;
  cursor: hand;
}

.desc_img {
	position: fixed;
	z-index: 100;
	border: 1px solid black;
}

.categories>li .content img.emoji {
  background-color: blue;

}

.categories>li .content img.emoji {
  margin-right: 0;
}

.emoji-link {
  width: 33%;
  max-width: 250px;
  min-width: 240px;
  cursor: pointer;
  display: inline-table;
  white-space: nowrap;
}

.emoji_not_responsive {
	width: 20%;
	height: 20%;
}


.modal.emoji-dialog {
  z-index: 10500;

  > .modal-dialog {
    width: auto;
    max-width: 1048px;

    .emoji-tab {
      cursor: pointer;
      &.active {
        cursor: default;
      }
    }
  }
}
